<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<SteakShop.Models.ScheduleMarketing>
<html lang="en">
<head>
    <title>SB Admin 2 - Tables</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="~/SteakShop/Admin/vendor/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/Admin/css/sb-admin-2.css" type="text/css">
</head>
<body>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Schedule Management</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <a href="@Url.Action("Create", "Schedule")" class="btn btn-primary">Add New</a>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th>CardReceive</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>StartDate</th>
                                <th>EndDate</th>
                                <th>CardReceive</th>
                                <th>Type</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.CashReceive$</td>
                                    <td>@item.IdMbNavigation.Type</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Schedule", new { id = item.Id })" class="btn btn-primary">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>


</html>
