@{
    ViewData["Title"] = "Foods";
}
@model IEnumerable<SteakShop.Models.Food>

@foreach (var item in Model)
{
		<h4>
			@Html.DisplayFor(modelItem => item.FoodName)
		</h4>
		<p>@item.Price</p>
		<p>@item.Description</p>
		<p>@item.CIdNavigation.CategoryName</p>
		<p>@item.CIdNavigation.Descriptions</p>
}		