@{
    ViewData["Title"] = "Food";
}
@* @using PagedList.Mvc;
@using X.PagedList

@using X.PagedList.Mvc

@model X.PagedList.PagedList<SteakShop.Models.Food> *@

@model IEnumerable<SteakShop.Models.Food>
<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="text-center">
        <!-- Start banner bottom -->
        <div class="row banner-bottom common-bottom-banner align-items-center justify-content-center">
            <div class="col-lg-8 offset-lg-4">
                <div class="banner_content">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <h1>Food Menu</h1>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                especially in the workplace. That’s why it’s crucial that, as women.
                            </p>
                        </div>
                        <div class="col-lg-5 col-md-12">
                            <div class="page-link-wrap">
                                <div class="page_link">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    <a asp-area="" asp-controller="Food" asp-action="Food">Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End banner bottom -->
        <!--================ Menu Area =================-->
        <section class="menu_area section_gap">
            <div class="container">
                <div class="row menu_inner">
                    <form asp-action="Food" method="get">
                        <select name="categoryId" asp-items="ViewBag.CateIds"></select>
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </form>
                    <div class="col-lg-5">
                        <div class="menu_list res-mr" id="">
                            <ul class="list">
                                @foreach (var item in Model)
                                {
                                    <img style="width: 120px; height: 120px;" src="~/img/@item.Image" alt="@item.Image" />
                                    <h4>
                                        @Html.DisplayFor(modelItem => item.FoodName)&nbsp;&nbsp;&nbsp;
                                        <span>@Html.DisplayFor(modelItem => item.Price) $</span>&nbsp;&nbsp;&nbsp;
                                        <span>
                                            <i class="fa-solid fa-cart-shopping add-to-cart" data-food-id="@item.Id"></i>
                                        </span>&nbsp;&nbsp;&nbsp;
                                        <br />
                                        <br />
                                        <span>
                                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                        </span>
                                        <br />
                                        <span>
                                            <div class="form-group col-md-12">
                                                <input type="number" class="form-control quantity-input" data-food-id="@item.Id" placeholder="quantity" onfocus="this.placeholder = 'quantity'" onblur="this.placeholder = 'quantity'">
                                            </div>
                                        </span>
                                        <br />
                                        <br />
                                    </h4>
                                }
                            </ul>
                        </div>

                        <!-- Phân trang -->
                       @*  <div class="text-center">
                            <div class="text-center">
                                @Html.PagedListPager(Model, page => Url.Action("Food", new { page })
                                , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded
                                    , MaximumPageNumbersToDisplay = 5 })
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </section>
        <!--================End Menu Area =================-->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // Sử dụng jQuery để thực hiện AJAX khi bấm vào biểu tượng
        $(".add-to-cart").on("click", function () {
            var foodId = $(this).data("food-id");
            var quantity = $(this).closest("h4").find(".quantity-input").val();
            // thực hiện cuộc gọi ajax đến cartcontroller với thông tin foodid
            $.ajax({
                url: "/Cart/AddToCart",
                type: "post",
                data: {
                    foodId: foodId,
                    quantity: quantity
                },
                success: function (response) {
                    // xử lý phản hồi từ cartcontroller (nếu cần)
                    console.log("chay duoc");
                    ; alert("món ăn đã được thêm vào giỏ hàng.");
                    window.location.href = '/Cart/AddToCart';
                },
                error: function () {
                    alert("món ăn đã được thêm vào giỏ hàng.");
                }
            });
        });

        $(function () {
            $("#categorySelect").change(function () {
                var selectedCategoryId = $(this).val();
                // Thực hiện cuộc gọi AJAX để lấy danh sách thực phẩm dựa trên selectedCategoryId và cập nhật phần hiển thị
                $.get("/Food/Food", { categoryId: selectedCategoryId }, function (data) {
                    // Cập nhật phần hiển thị danh sách thực phẩm (ví dụ: thay thế nội dung div)
                    $("#foodList").html(data);
                });
            });
        });
    </script>
</body>
</html>